<html ng-app="app">
    <head>
        <title>Calculator</title>
        <script src="angular/angular.min.js"></script>
    </head>
    <body ng-controller="calculateCtrl" >
     <table>
         <tr>
             <td>First Number</td>
             <td><input type="number" ng-model="model.number1"></td>
        </tr>
        <tr>
            <td>
                    <select ng-model="model.option" ng-options="item for item in options"></select>
            </td>
        </tr>
        <tr>
            <td>Second Number</td>
            <td><input type="number" ng-model="model.number2"></td>
        </tr>
        <tr>
            <td>				
                	<input type="submit" value="Submit" class="btn btn-primary"  ng-click="submit(model)"/>
            </td>
        </tr>
        <tr>
            <td>Result</td>
            <td>{{result}}</td>
        </tr>
     </table>
     <script src="app.js"></script>
     <script src="controller.js"></script>

    </body>
</html>
