<h2>Login</h2>
<form>
    <table>
        <tr>
            <td><label>Username:</label></td>
            <td><input type="text" name="username" ng-model="username" /></td>
        </tr>
        <tr>
            <td><label>Password:</label></td>
            <td><input type="password" name="password" ng-model="password" /></td>
        </tr>
        <tr>
            <td><a href="#!registration">Registration</a></td>
            <td><input type="submit" value="login" ng-click="submit()" /></td>
        </tr>
    </table>
</form>