<h1>Companies Management page </h1>

<table>
    <tr>
        <td>UserEmail</td>
        <td><input type="text" ng-model="useremail"></td>
    </tr>
    <tr>
        <td>Fax</td>
        <td><input type="text" ng-model="fax"></td>
    </tr>
    <tr>
        <td>RegistrationNo</td>
        <td><input type="text" ng-model="registrationNo"></td>
    </tr>
    <tr>
        <td>CompanyName</td>
        <td><input type="text" ng-model="companyname"></td>
    </tr>
    <tr>
        <th><input id="submit" type="submit" name="submit" value="Addcompany" ng-click="addcompany()" /></th>
    </tr>
</table>




<table border="1">
    <tr>
        <th>Id</th>
        <th>UserEmail</th>
        <th>Fax</th>
        <th>RegistrationNo</th>
        <th>Status</th>
        <th>CompanyName</th>
        <th colspan="3">Action</th>

    </tr>
    <tr ng-repeat="(key,value) in companieslist[0]">
        <td>{{value._id}}</td>
        <td>{{value.companyInfo.userInfo.userEmail[0]}}</td>
        <td>{{value.companyInfo.fax}}</td>
        <td>{{value.companyInfo.registrationNo}}</td>
        <td>{{value.companyInfo.status}}</td>
        <td>{{value.companyName}}</td>
        <td><input id="delete" type="submit" name="edit" value="X" ng-click="remove(value._id)" /></td>
        <td><input id="edit" type="submit" name="edit" value="Edit" ng-click="open(value._id)" /></td>
        <td><input id="deactivate" type="submit" name="deactivate" value="Deactivate" ng-click="deactivate(value._id)" /></td>
    </tr>
</table>

<a ng-href="#!user">Users</a>




<script type="text/ng-template" id="lalit.html">
    <form class="form-horizontal" name="myForm">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">UserInformation Updation</h3>
        </div>
        <div class="modal-body" id="modal-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">

                        <div class="form-group" ng-class="{'has-error':myForm.id.$touched && myForm.id.$invalid}">
                            <label for="companyname">CompanyName</label>
                            <input type="text" class="form-control" id="companyname" ng-model="companyname" name="companyname" required/>
                        </div>
                        <div class="form-group" ng-class="{'has-error':myForm.firstName.$touched && myForm.firstName.$invalid}">
                            <label for="faxno">FaxNo</label>
                            <input type="text" class="form-control" id="faxno" ng-model="faxno" name="faxno" required />
                        </div>
                        <div class="form-group" ng-class="{'has-error':myForm.lastName.$touched && myForm.lastName.$invalid}">
                            <label for="registrationno">RegistrationNo</label>
                            <input type="text" class="form-control" id="registrationno" ng-model="registrationno" name="registrationno" required/>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-default" id="submit" ng-click="submit()" ng-disabled="myForm.$invalid || myForm.$pristine" />
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </form>
</script>