<h1> Companies Management page </h1>
<br>
<div class="container">
    <form class="form-horizontal" name="myForm">
        <div class="form-group" ng-class="{'has-error':myForm.useremail.$touched && myForm.useremail.$invalid}">
            <label class="control-label col-sm-2" for="useremail">UserEmail:</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="useremail" placeholder="Enter UserEmail" name="useremail" ng-model="useremail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>
            </div>
            <span class="help-block" ng-show="myForm.useremail.$error.required && myForm.useremail.$touched" style="color:red">Oops! UserEmail isnot validFormat.</span>

        </div>
        <div class="form-group" ng-class="{'has-error':myForm.fax.$touched && myForm.fax.$invalid}">
            <label class="control-label col-sm-2" for="fax">FaxNo:</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="fax" placeholder="Enter FaxNo" name="fax" ng-model="fax" required>
            </div>
            <span class="help-block" ng-show="myForm.fax.$error.required && myForm.fax.$touched" style="color:red">Oops! FaxNo field is required.</span>

        </div>
        <div class="form-group" ng-class="{'has-error':myForm.registrationNo.$touched && myForm.registrationNo.$invalid}">
            <label class="control-label col-sm-2" for="registrationNo">RegistrationNo:</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="registrationNo" placeholder="Enter RegistrationNo" name="registrationNo" ng-model="registrationNo" required>
            </div>
            <span class="help-block" ng-show="myForm.registrationNo.$error.required && myForm.registrationNo.$touched" style="color:red">Oops! RegistrationNo field is required.</span>

        </div>
        <div class="form-group" ng-class="{'has-error':myForm.companyname.$touched && myForm.companyname.$invalid}">
            <label class="control-label col-sm-2" for="companyname">CompanyName:</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="companyname" placeholder="Enter CompanyName" name="companyname" ng-model="companyname" required>
            </div>
            <span class="help-block" ng-show="myForm.companyname.$error.required && myForm.companyname.$touched" style="color:red">Oops! CompanyName field is required.</span>

        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default" ng-click="addcompany()" ng-disabled="myForm.$invalid || myForm.$pristine">Addcompany</button>
            </div>
        </div>
    </form>
</div>

<table class="table table-bordered" ng-if="companieslist[0].length > 0">
    <thead>
        <tr>
            <th>Id</th>
            <th>UserEmail</th>
            <th>Fax</th>
            <th>RegistrationNo</th>
            <th>Status</th>
            <th>CompanyName</th>
            <th colspan="3">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="(key,value) in companieslist[0]">
            <td>{{value._id}}</td>
            <td>{{value.companyInfo.userInfo.userEmail[0]}}</td>
            <td>{{value.companyInfo.fax}}</td>
            <td>{{value.companyInfo.registrationNo}}</td>
            <td>{{value.companyInfo.status}}</td>
            <td>{{value.companyName}}</td>
            <td><button class="btn" id="delete" ng-click="remove(value._id)"><i class="fa fa-close"></i> Delete</button></td>
            <td><button class="btn" id="edit" ng-click="open(value._id)"><i class="fa fa-pencil"></i> Edit</button></td>
            <td><button class="btn" id="deactivate" ng-click="deactivate(value._id)"><i class="fa fa-window-close"></i> Deactivate</button></td>
        </tr>
    </tbody>
</table>
</div>

<br>
<a href="#!user" class="btn btn-info" role="button">User Page</a>


<script type="text/ng-template" id="lalit.html">
    <form class="form-horizontal" name="myForm">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">UserInformation Updation</h3>
        </div>
        <div class="modal-body" id="modal-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">

                        <div class="form-group" ng-class="{'has-error':myForm.companyname.$touched && myForm.companyname.$invalid}">
                            <label for="companyname">CompanyName</label>
                            <input type="text" class="form-control" id="companyname" ng-model="companyname" name="companyname" required/>
                        </div>
                        <span class="help-block" ng-show="myForm.companyname.$error.required && myForm.companyname.$touched" style="color:red">Oops! CompanyName field is required.</span>

                        <div class="form-group" ng-class="{'has-error':myForm.faxno.$touched && myForm.faxno.$invalid}">
                            <label for="faxno">FaxNo</label>
                            <input type="text" class="form-control" id="faxno" ng-model="faxno" name="faxno" required />
                        </div>
                        <span class="help-block" ng-show="myForm.faxno.$error.required && myForm.faxno.$touched" style="color:red">Oops! FaxNo field is required.</span>

                        <div class="form-group" ng-class="{'has-error':myForm.registrationno.$touched && myForm.registrationno.$invalid}">
                            <label for="registrationno">RegistrationNo</label>
                            <input type="text" class="form-control" id="registrationno" ng-model="registrationno" name="registrationno" required/>
                        </div>
                        <span class="help-block" ng-show="myForm.registrationno.$error.required && myForm.registrationno.$touched" style="color:red">Oops! RegistrationNo field is required.</span>

                        <div class="form-group">
                            <input type="submit" class="btn btn-default" id="submit" ng-click="submit()" ng-disabled="myForm.$invalid || myForm.$pristine" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</script>