<h1>User Management page </h1>
<br>
<div class="container">
    <form class="form-horizontal" name="myForm">
        <div class="form-group" ng-class="{'has-error':myForm.username.$touched && myForm.username.$invalid}">
            <label class="control-label col-sm-2" for="username">UserName:</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="username" placeholder="Enter UserName" name="username" ng-model="username" required>
            </div>
            <span class="help-block" ng-show="myForm.username.$error.required && myForm.username.$touched" style="color:red">Oops! UserName field is required.</span>

        </div>
        <div class="form-group" ng-class="{'has-error':myForm.address.$touched && myForm.address.$invalid}">
            <label class="control-label col-sm-2" for="address">Address:</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="address" placeholder="Enter Address" name="address" ng-model="address" required>
            </div>
            <span class="help-block" ng-show="myForm.address.$error.required && myForm.address.$touched" style="color:red">Oops! Address field is required.</span>

        </div>
        <div class="form-group" ng-class="{'has-error':myForm.email.$touched && myForm.email.$invalid}">
            <label class="control-label col-sm-2" for="email">Email:</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="email" placeholder="Enter Email" name="email" ng-model="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>
            </div>
            <span class="help-block" ng-show="myForm.email.$error.required && myForm.email.$touched" style="color:red">Oops! Email isnot validFormat.</span>

        </div>
        <div class="form-group" ng-class="{'has-error':myForm.email.$touched && myForm.email.$invalid}">
            <label class="control-label col-sm-2" for="password">Password:</label>
            <div class="col-sm-3">
                <input type="password" class="form-control" id="password" placeholder="Enter Password" name="password" ng-model="password" required>
            </div>
            <span class="help-block" ng-show="myForm.password.$error.required && myForm.password.$touched" style="color:red">Oops! Password field is required.</span>

        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default" ng-click="adduser()" ng-disabled="myForm.$invalid || myForm.$pristine">Adduser</button>
            </div>
        </div>
    </form>
</div>



<table class="table table-bordered" ng-if="userlist[0].length > 0">
    <thead>
        <tr>
            <th>Id</th>
            <th>UserName</th>
            <th>Address</th>
            <th>Email</th>
            <th>Password</th>
            <th>status</th>
            <th colspan="3">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="(key,value) in userlist[0]">
            <td>{{value._id}}</td>
            <td>{{value.userInfo.userName}}</td>
            <td>{{value.userInfo.address}}</td>
            <td>{{value.email}}</td>
            <td>{{value.password}}</td>
            <td>{{value.status}}</td>
            <td><button class="btn" id="delete" ng-click="remove(value._id)"><i class="fa fa-close"></i> Delete</button></td>
            <td><button class="btn" id="edit" ng-click="open(value.email)"><i class="fa fa-pencil"></i> Edit</button></td>
            <td><button class="btn" id="deactivate" ng-click="deactivate(value._id)"><i class="fa fa-window-close"></i> Deactivate</button></td>
        </tr>
    </tbody>
</table>
</div>

<br>
<a href="#!companies" class="btn btn-info" role="button">Companies Page</a>



<script type="text/ng-template" id="lalit.html">
    <form class="form-horizontal" name="myForm">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">UserInformation Updation</h3>
        </div>
        <div class="modal-body" id="modal-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">

                        <div class="form-group" ng-class="{'has-error':myForm.username.$touched && myForm.username.$invalid}">
                            <label for="username">UserName</label>
                            <input type="text" class="form-control" id="username" ng-model="username" name="username" required/>
                        </div>
                        <span class="help-block" ng-show="myForm.username.$error.required && myForm.username.$touched" style="color:red">Oops! UserName field is required.</span>

                        <div class="form-group" ng-class="{'has-error':myForm.address.$touched && myForm.address.$invalid}">
                            <label for="address">Address</label>
                            <input type="text" class="form-control" id="address" ng-model="address" name="address" required />
                        </div>
                        <span class="help-block" ng-show="myForm.address.$error.required && myForm.address.$touched" style="color:red">Oops! Address field is required.</span>

                        <div class="form-group" ng-class="{'has-error':myForm.password.$touched && myForm.password.$invalid}">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" ng-model="password" name="password" required/>
                        </div>
                        <span class="help-block" ng-show="myForm.password.$error.required && myForm.password.$touched" style="color:red">Oops! Password field is required.</span>

                        <div class="form-group">
                            <input type="submit" class="btn btn-default" id="submit" ng-click="submit()" ng-disabled="myForm.$invalid || myForm.$pristine" />
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </form>
</script>